.promo {
	padding: 2rem 0;
	// .promo__container
	&__container {
	}
	// .promo__body
	&__body {
		display: flex;
		gap: 2rem;
	}
	// .promo__image
	&__image {
		flex: 0 0 58.333%;
		& img {
			border-radius: 1.25rem;
			box-shadow: $shadow;
		}
	}
	// .promo__offer
	&__offer {
		flex: 1 1 auto;
	}
	// .promo__tagline
	&__tagline {
		color: #0739a6;
		font-size: 1.125rem;
	}
	// .promo__title
	&__title {
		position: relative;
		padding-bottom: 2rem;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 14.22038rem;
			height: 0.6875rem;
			background: url("@img/title-decor.svg") 0 0 / cover no-repeat;
		}
	}
	// .promo__desc
	&__desc {
		margin-top: 1.5rem;
		color: #2b2b2b;
		font-size: 1.125rem;
		font-weight: 300;
	}
	// .promo__btn
	&__btn {
		margin-top: 1.62rem;
	}
}

.directions {
	padding: 3.44rem 0 4.12rem;
	background: #fff;
	// .directions__container
	&__container {
	}
	// .directions__title
	&__title {
		text-align: center;
	}
	// .directions__list
	&__list {
		margin-top: 3.81rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	// .directions__item
	&__item {
		display: flex;
		flex-direction: column;
	}
	// .directions__item-header
	&__item-header {
		display: flex;
		align-items: center;
		gap: 1.13rem;
	}
	// .directions__item-icon
	&__item-icon {
		background: #eaf1ff;
		width: 6.9375rem;
		height: 6.9375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border-radius: 50%;
	}
	// .directions__item-name
	&__item-name {
		color: #2b2b2b;
		font-size: 1.75rem;
		font-weight: 600;
	}
	// .directions__item-body
	&__item-body {
		margin-top: 1.31rem;
		& p {
			font-size: 1rem;
		}
		& ul {
			margin-top: 1.25rem;
			list-style: disc;
			padding-left: 1em;
			font-weight: 500;
			& li {
				line-height: 127.392%;
				&:not(:last-child) {
					margin-bottom: 0.5rem;
				}
			}
		}
	}
	// .directions__btn
	&__btn {
		margin-top: 2.75rem;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		display: flex;
	}
}

.benefits {
	padding: 5.88rem 0;
	background: url("@img/wave-decor.svg") 100% 0 / auto no-repeat;
	// .benefits__container
	&__container {
	}
	// .benefits__body
	&__body {
		display: grid;
		align-items: end;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}
	// .benefits__main
	&__main {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__list
	&__list {
		margin-top: 5.56rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.69rem;
	}
	// .benefits__item
	&__item {
		padding-left: 1.25em;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0.5em;
			left: 0;
			width: 0.625em;
			height: 0.625em;
			flex-shrink: 0;
			border-radius: 50%;
			background: $accent;
		}
	}
	// .benefits__item-caption
	&__item-caption {
		color: #000;
		font-size: 1.125rem;
		font-weight: 500;
	}
	// .benefits__item-desc
	&__item-desc {
		margin-top: 0.69rem;
		color: #000;
		font-size: 1rem;
		font-weight: 300;
	}
	// .benefits__text
	&__text {
		border-radius: 1.25rem;
		background: #fff;
		box-shadow: $shadow;
		padding: 2.31rem 3.31rem;
		color: #000;
		font-size: 1.125rem;
		font-weight: 300;
		& p {
			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
	}
}

.main-doctor {
	padding: 3rem 0;
	// .main-doctor__container
	&__container {
	}
	// .main-doctor__body
	&__body {
		background: #fff;
		border-radius: 3.125rem;
		background: #fff;
		box-shadow: $shadow;
		padding: 5.19rem 4.94rem;
		display: flex;
		align-items: flex-end;
	}
	// .main-doctor__main
	&__main {
	}
	// .main-doctor__position
	&__position {
		color: #0739a6;
		font-size: 1.5rem;
	}
	// .main-doctor__title
	&__title {
		margin-top: 1.38rem;
	}
	// .main-doctor__desc
	&__desc {
		margin-top: 1.56rem;
		font-size: 1.125rem;
	}
	// .main-doctor__btn
	&__btn {
		margin-top: 2.58rem;
	}
	// .main-doctor__rate
	&__rate {
		border-radius: 0.9375rem;
		background: #f5f5f7;
		padding: 1.38rem 1.06rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 12.9375rem;
		flex-shrink: 0;
		margin-right: -5rem;
		position: relative;
		z-index: 2;
	}
	// .main-doctor__rate-company
	&__rate-company {
	}
	// .main-doctor__rate-stars
	&__rate-stars {
		margin-top: 0.69rem;
		display: flex;
		gap: 0.15rem;
		font-size: 0.75rem;
	}
	// .main-doctor__rate-star
	&__rate-star {
		color: #f5ba3a;
	}
	// .main-doctor__rate-quantity
	&__rate-quantity {
		margin-top: 0.72rem;
		font-size: 1rem;
	}
	// .main-doctor__image
	&__image {
		margin-right: -4.94rem;
		margin-bottom: -5.19rem;
		margin-top: -17.5rem;
	}
}

.doctors {
	padding: 5rem 0;
	background: #fff;
	// .doctors__container
	&__container {
	}
	// .doctors__title
	&__title {
		text-align: center;
	}
	// .doctors__slider
	&__slider {
		margin-top: 5rem;
	}
}

.doctor {
	height: auto;
	display: flex;
	flex-direction: column;

	// .doctor__image
	&__image {
		position: relative;
		border-radius: 1.25rem;
		& img {
			border-radius: 1.25rem;
		}
	}
	// .doctor__label
	&__label {
		position: absolute;
		bottom: rem(21);
		left: rem(12);
		padding: 0.56rem 1.34rem;
		border-radius: 3.75rem;
		background: #fff;
		color: #0739a6;
	}
	// .doctor__body
	&__body {
		margin-top: 1.25rem;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .doctor__name
	&__name {
		font-size: 1.375rem;
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .doctor__position
	&__position {
		margin-top: 1rem;
		color: #0739a6;
		font-size: 1rem;
		font-weight: 500;
	}
	// .doctor__specialization
	&__specialization {
		margin-top: 1.44rem;
	}
	// .doctor__specialization-title
	&__specialization-title {
		color: #000;
		font-size: 0.875rem;
		font-weight: 500;
	}
	// .doctor__specialization-items
	&__specialization-items {
		margin-top: 0.63rem;
		margin-bottom: auto;
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
	}
	// .doctor__specialization-item
	&__specialization-item {
		color: #2a2a2a;
		padding: 0.56rem 1.16rem;
		font-size: 0.875rem;
		border-radius: 3.75rem;
		background: #f8f9fc;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #f8f9fc, $amount: 10);
			}
		}
	}
	// .doctor__btn
	&__btn {
		margin-top: 2.25rem;
		padding-block: 0.65rem;
	}
}

.contacts {
	// .contacts__container
	&__container {
	}
	// .contacts__body
	&__body {
	}
	// .contacts__main
	&__main {
	}
	// .contacts__title
	&__title {
	}
	// .contacts__list
	&__list {
	}
	// .contacts__item
	&__item {
	}
	// .contacts__link
	&__link {
	}
	// .contacts__btn
	&__btn {
	}
	// .contacts__map
	&__map {
	}
	// .contacts__image
	&__image {
	}
}
