<li class="blog__item">
    <a href="/article.html" class="blog__image">
        <img src="@img/blog/@@index.jpg" class="cover-image" alt="Фото статьи">
    </a>
    <div class="blog__body">
        <div class="blog__heading">
            <time datetime="2023-01-07" class="blog__time icon-calendar-alternate">07.01.2023</time>
            <div class="blog__views icon-views">1233</div>
        </div>
        <a href="/article.html" class="blog__caption">Чем может быть опасна профессиональная гигиена?</a>
        <p class="blog__desc">Любая профгигиена лучше, чем никакой. Но тем не менее, важно знать, что на зубах с пломбами, имплантатах, винирах...</p>
        <a href="/article.html" class="blog__btn btn btn-primary btn-fullwidth btn-lg">Перейти к новости</a>
    </div>
</li>