<div class="doctor-card@@className">
    <a href="/doctor.html" class="doctor-card__image">
        <img src="@@image" class="cover-image" alt="Фото доктора">
        <span class="doctor-card__label">@@expirience</span>
    </a>
    <div class="doctor-card__body">
        <a href="/doctor.html" class="doctor-card__name">@@name</a>
        <div class="doctor-card__position">@@position</div>
        @@if(typeof specializations !== 'undefined' && specializations.length > 0) {
        <div class="doctor-card__specialization">
            <div class="doctor-card__specialization-title">Специализация:</div>
            <div class="doctor-card__specialization-items">
                @@for (var i = 0; i < specializations.length; i++) { <a href="" class="doctor-card__specialization-item">`+specializations[i]+`</a>}
            </div>
        </div>
        }
        <a href="/doctor.html" class="doctor-card__btn btn btn-primary btn-fullwidth">Подробнее о враче</a>
    </div>
</div>