<div class="review@@className">
    <div class="review__header">
        <a href="" class="review__thumb">
            <img src="@@thumb" class="cover-image" alt="Миниатюра доктора">
        </a>
        <div class="review__person">
            <div class="review__person-caption">Отзыв о враче:</div>
            <a href="" class="review__person-name">@@name</a>
        </div>
        <div class="review__company">
            <img src="@@company" alt="Фото компании">
        </div>
    </div>
    <div class="review__rate">
        <span class="review__rate-item icon-star"></span><span class="review__rate-item icon-star"></span><span class="review__rate-item icon-star"></span><span class="review__rate-item icon-star"></span><span class="review__rate-item icon-star"></span>
    </div>
    <blockquote class="review__quote">@@quote</blockquote>
    <a href="" class="review__more">Читать полностью...</a>
    <div class="review__footer">
        <div class="review__email">503....@....com</div>
        <time datetime="2024-03-05" class="review__time icon-calendar">05.03.2024</time>
    </div>
</div>