@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Light.woff") format("woff"), url("../fonts/Onest-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Medium.woff") format("woff"), url("../fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-Regular.woff") format("woff"), url("../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  font-display: swap;
  src: url("../fonts/Onest-SemiBold.woff") format("woff"), url("../fonts/Onest-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima";
  font-display: swap;
  src: url("../fonts/Proxima-Nova-Semibold.woff") format("woff"), url("../fonts/Proxima-Nova-Semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.swiper-button-next,
.swiper-button-prev,
.form__checkbox-input:checked + .form__checkbox-text::before,
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-close:before {
  content: "\e918";
}

.icon-check:before,
.form__checkbox-input:checked + .form__checkbox-text:before {
  content: "\e917";
}

.icon-calendar:before {
  content: "\e900";
}

.icon-calendar-alternate:before {
  content: "\e901";
}

.icon-chevron:before {
  content: "\e902";
}

.icon-clock:before {
  content: "\e903";
}

.icon-comments:before {
  content: "\e904";
}

.icon-doctor-bag:before {
  content: "\e905";
}

.icon-download:before {
  content: "\e906";
}

.icon-education:before {
  content: "\e907";
}

.icon-envelope:before {
  content: "\e908";
}

.icon-eye:before {
  content: "\e909";
}

.icon-instruments:before {
  content: "\e90a";
}

.icon-left:before,
.swiper-button-prev:before {
  content: "\e90b";
}

.icon-location:before {
  content: "\e90c";
}

.icon-metro:before {
  content: "\e90d";
}

.icon-phone:before {
  content: "\e90e";
}

.icon-plus:before {
  content: "\e90f";
}

.icon-right:before,
.swiper-button-next:before {
  content: "\e910";
}

.icon-schedule:before {
  content: "\e911";
}

.icon-search:before {
  content: "\e912";
}

.icon-star:before {
  content: "\e913";
}

.icon-telegram:before {
  content: "\e914";
}

.icon-views:before {
  content: "\e915";
}

.icon-whatsapp:before {
  content: "\e916";
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(30, 30, 30, 0.4);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  position: relative;
  display: none;
  width: 100%;
  max-width: 41.875rem;
  background: #fff;
  color: #2b2b2b;
  border-radius: 0.75rem;
  padding: 1.875rem 0.625rem;
}

.popup__close {
  position: absolute;
  top: 0.63rem;
  right: 0.63rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #2b2b2b;
}

.popup__title {
  text-align: center;
}

.popup__subtitle {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.popup__form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.color-accent {
  color: #0739a6;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0739a6;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__field {
  width: 100%;
}

.form__field label {
  line-height: 1;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form__field.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.form__field.checkbox input,
.form__field.checkbox label {
  margin: 0;
}

.form__control {
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  font-size: 1rem;
  line-height: 1.3125;
  border-radius: 0.375rem;
  padding: 0.9375em;
  border: 0.0625rem solid rgba(27, 43, 69, 0.31);
}

.form__control::-webkit-input-placeholder {
  opacity: 0.4;
  color: currentColor;
}

.form__control::-moz-placeholder {
  opacity: 0.4;
  color: currentColor;
}

.form__control:-ms-input-placeholder {
  opacity: 0.4;
  color: currentColor;
}

.form__control::-ms-input-placeholder {
  opacity: 0.4;
  color: currentColor;
}

.form__control::placeholder {
  opacity: 0.4;
  color: currentColor;
}

.form__control:hover,
.form__control:focus {
  border-color: #0739a6;
}

.form__control:disabled {
  background: #ddd;
  border-color: #ddd;
}

.form__control._error {
  outline: 1px solid #ba2028;
  background: #fff1ed;
}

.form__control:is(textarea) {
  height: 8.5625rem;
  resize: none;
}

.form__checkbox {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid red;
}

.form__checkbox-text {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  line-height: 150%;
  padding: 0 0 0 2.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #2b2b2b;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
  color: #0739a6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  white-space: nowrap;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.form__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__social {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.form__social.icon-whatsapp {
  background: #0dc143;
}

.form__social.icon-telegram {
  background: #419fd9;
}

.form__btn.btn {
  padding: 1rem 3rem;
  gap: 1rem;
}

.form__btn.btn::before {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-size: 1.5rem;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-family: "Proxima";
  border-radius: 0.625rem;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.875rem 2.5rem;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #2b2b2b;
          box-shadow: 0 0 0.0625rem 0.0625rem #2b2b2b;
}

.btn.btn-primary {
  background: #0739a6;
  border-color: #0739a6;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #052875;
  border-color: #052875;
}

.btn.btn-primary:active {
  background: #031744;
  border-color: #031744;
}

.btn.btn-secondary {
  background: #01ce22;
  border-color: #01ce22;
  color: #fff;
}

.btn.btn-secondary:hover {
  background: #019b1a;
  border-color: #019b1a;
}

.btn.btn-secondary:active {
  background: #016811;
  border-color: #016811;
}

.btn.btn-white {
  background: #fff;
  color: #0739a6;
}

.btn.btn-sm {
  padding: 0.5rem 2.75rem;
}

.btn.btn-lg {
  padding-block: 1.06rem;
}

.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}

.select {
  position: relative;
}

.select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: 0.0625rem solid #0739a6;
  border-radius: 0.375rem;
  color: #2b2b2b;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 1em 2.3125em 1em 1.4375em;
  width: 100%;
}

body {
  font-family: "Onest", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #2b2b2b;
  background-color: #f8f9fc;
  margin-right: 0 !important;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 0.75rem;
}

.title {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 1.75rem;
}

.swiper-button-next,
.swiper-button-prev {
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  z-index: 2;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0739a6;
  color: #fff;
  -webkit-box-shadow: 0 0 0.5625rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 0.5625rem rgba(0, 0, 0, 0.06);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:disabled,
.swiper-button-next.swiper-button-disabled,
.swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-prev[aria-disabled=true] {
  background: #d7e4ff;
  color: #fff;
  pointer-events: none;
  opacity: 1;
}

.swiper-button-next.swiper-button-lock,
.swiper-button-prev.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  margin-top: 2rem;
  position: static;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination.swiper-pagination-lock {
  margin-top: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  --swiper-pagination-bullet-horizontal-gap: 0.375rem;
  background: #d9d9d9;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0739a6;
}

.header {
  background: #fff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding: 1.25rem 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  font-size: 0.61425rem;
  line-height: 0.875;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 2.5rem;
}

.header__contacts::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 2.25rem;
  color: #0739a6;
}

.header__contacts-phone {
  white-space: nowrap;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 1.25rem;
}

.header__contacts-worktime {
  margin-top: 0.25rem;
  color: #585858;
  font-size: 0.75rem;
}

.header__address {
  font-weight: 500;
}

.header__address-footer {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.06rem;
}

.header__address-station {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.56rem;
  color: #585858;
  font-size: 0.875rem;
}

.header__address-station::before {
  font-size: 1.375rem;
  color: #204982;
}

.header__address-link {
  color: #0739a6;
  font-size: 0.875rem;
}

.header__socials-text {
  display: none;
}

.header__socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.42rem;
}

.header__socials-link {
  width: 3.3125rem;
  height: 3.3125rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(234, 241, 255, 0.5);
  font-size: 1.75rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header__socials-link.icon-whatsapp {
  color: #01ce22;
}

.header__socials-link.icon-telegram {
  color: #145fff;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.header__eye,
.search__btn {
  font-size: 3.1875rem;
  color: #0739a6;
  width: 3.1875rem;
  height: 3.1875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.search.active .search__form {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) translateX(-50%);
      -ms-transform: translateY(0) translateX(-50%);
          transform: translateY(0) translateX(-50%);
}

.search__btn {
  font-size: 2.25rem;
}

.search__form {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 0.5rem);
  display: none;
}

.search__form-input {
  font-size: 1rem;
  padding: 0.83rem 1.88rem;
  border-radius: 0.625rem;
}

.menu {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 5rem 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.header.open-menu .menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item.menu-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.menu__link {
  color: currentColor;
  display: inline-block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% - 2rem);
          flex: 0 1 calc(100% - 2rem);
  color: #585858;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration-line: underline;
  text-underline-offset: 25%;
}

.menu__link.active {
  color: #bbb;
}

.menu__link.active + .menu__arrow {
  color: #0739a6;
}

.menu__arrow {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
}

.menu__arrow::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: 0.7rem;
}

.menu__arrow.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__callback {
  margin-left: 2rem;
}

.submenu__list {
  position: relative;
  font-size: 1rem;
  color: #2b2b2b;
  font-weight: 300;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  padding: 1rem 0;
}

.submenu__category {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  padding: 0.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submenu__category-caption {
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  max-width: 100%;
}

.submenu__category-list {
  margin-top: 1.56rem;
  color: #2b2b2b;
  font-size: 1.125rem;
  font-weight: 300;
}

.submenu__category-item:not(:last-child) {
  margin-bottom: 1.15rem;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 11;
  height: 1.5625rem;
  color: #0739a6;
  min-width: 2.625rem;
}

.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-left: auto;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.icon-menu span:first-child::before {
  width: 92%;
}

.icon-menu span:nth-child(2)::before {
  width: 82%;
}

.header.open-menu .icon-menu span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header.open-menu .icon-menu span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  width: 90%;
  background: #142356;
}

.header.open-menu .icon-menu span:first-child {
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.header.open-menu .icon-menu span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}

.header.open-menu .icon-menu span:nth-child(3) {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header.open-menu .icon-menu span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.footer {
  background: #363636;
  color: #fff;
  padding: 2.8125rem 0 1.5rem;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.footer__main {
  font-size: 0.875rem;
  font-weight: 300;
}

.footer__desc {
  margin-top: 0.63rem;
  font-size: 0.875rem;
  font-weight: 300;
  max-width: 17.875rem;
}

.footer__menu-list {
  font-size: 1.125rem;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 0.94rem;
}

.footer__menu-link {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer__privacies-item:not(:last-child) {
  margin-bottom: 0.94rem;
}

.footer__privacies-link {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__phone {
  white-space: nowrap;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.footer__address {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.footer__rate {
  margin-top: 1.06rem;
  max-width: 9.375rem;
}

.footer__bottom {
  margin-top: 3.75rem;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.5);
  padding-top: 1.56rem;
  color: rgba(255, 255, 255, 0.43);
  font-size: 0.875rem;
  font-weight: 300;
}

.promo {
  padding: 2.875rem 0 3.25rem;
}

.promo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.promo__image img {
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  border-radius: 0.625rem;
}

.promo__offer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo__tagline {
  color: #0739a6;
}

.promo__title {
  margin-top: 0.75rem;
  position: relative;
  padding-bottom: 1.875rem;
}

.promo__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 14.22038rem;
  height: 0.6875rem;
  background: url("../img/title-decor.svg") 0 0/cover no-repeat;
}

.promo__desc {
  margin-top: 1.5rem;
  color: #2b2b2b;
  font-weight: 300;
}

.promo__btn {
  min-width: 100%;
  margin-top: 2.25rem;
}

.directions {
  padding: 3.44rem 0 4.12rem;
  background: #fff;
}

.directions__title {
  text-align: center;
}

.directions__list {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  margin-top: 2rem;
}

.directions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.directions__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.13rem;
}

.directions__item-icon {
  background: #eaf1ff;
  width: 6.9375rem;
  height: 6.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
}

.directions__item-name {
  color: #2b2b2b;
  font-weight: 600;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.directions__item-body {
  margin-top: 1.31rem;
}

.directions__item-body p {
  font-size: 1rem;
}

.directions__item-body ul {
  margin-top: 1.25rem;
  list-style: disc;
  padding-left: 1em;
  font-weight: 500;
}

.directions__item-body ul li {
  line-height: 127.392%;
}

.directions__item-body ul li:not(:last-child) {
  margin-bottom: 0.6rem;
}

.directions__btn {
  margin-top: 2.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.6875rem;
  min-width: 100%;
}

.benefits {
  background: url("../img/wave-decor.svg") 100% -7rem/auto no-repeat;
  padding: 2.5rem 0 1.5rem;
}

.benefits__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1.25rem;
}

.benefits__main {
  padding-bottom: 2rem;
}

.benefits__list {
  display: -ms-grid;
  display: grid;
  gap: 1.69rem;
  margin-top: 2.5rem;
}

.benefits__item {
  padding-left: 1.25em;
  position: relative;
}

.benefits__item::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 0.625em;
  height: 0.625em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background: #0739a6;
}

.benefits__item-caption {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
}

.benefits__item-desc {
  margin-top: 0.69rem;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
}

.benefits__text {
  border-radius: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  color: #000;
  font-weight: 300;
  padding: 1.5rem;
}

.benefits__text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.main-doctor {
  padding: 3rem 0 4.06rem;
}

.main-doctor__body {
  position: relative;
  background: #fff;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 2rem 2.5rem;
  gap: 2rem;
  border-radius: 2rem;
}

.main-doctor__main {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-doctor__position {
  color: #0739a6;
  font-size: 1.25rem;
}

.main-doctor__title {
  margin-top: 1.38rem;
  max-width: 26rem;
  font-size: 2rem;
}

.main-doctor__desc {
  margin-top: 2.5rem;
  max-width: 36rem;
}

.main-doctor__btn {
  margin-top: 2.58rem;
  min-width: 100%;
}

.main-doctor__rate {
  border-radius: 0.9375rem;
  background: #f5f5f7;
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  padding: 1.38rem 1.06rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.9375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 2;
  position: absolute;
  bottom: 2rem;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.main-doctor__rate-stars {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.main-doctor__rate-star {
  color: #f5ba3a;
}

.main-doctor__rate-quantity {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.main-doctor__image {
  margin-bottom: -2.5rem;
}

.doctors {
  padding: 2.5rem 0;
  background: #fff;
}

.doctors__slider {
  margin-top: 3rem;
  position: relative;
}

.doctor {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doctor__image {
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
}

.doctor__image img {
  -webkit-transition: -webkit-transform 0.12s ease;
  transition: -webkit-transform 0.12s ease;
  transition: transform 0.12s ease;
  transition: transform 0.12s ease, -webkit-transform 0.12s ease;
  border-radius: 1.25rem;
  will-change: transform;
}

.doctor__label {
  position: absolute;
  bottom: 1.3125rem;
  left: 0.75rem;
  padding: 0.56rem 1.34rem;
  font-size: 0.875rem;
  border-radius: 3.75rem;
  background: #fff;
  color: #0739a6;
}

.doctor__body {
  margin-top: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doctor__name {
  font-size: 1.375rem;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.doctor__position {
  margin-top: 0.5rem;
  color: #0739a6;
  font-size: 1rem;
  font-weight: 500;
}

.doctor__specialization {
  margin-top: 1.44rem;
  margin-bottom: auto;
}

.doctor__specialization-title {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
}

.doctor__specialization-items {
  margin-top: 0.63rem;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.doctor__specialization-item {
  color: #2a2a2a;
  padding: 0.56rem 1.16rem;
  font-size: 0.875rem;
  border-radius: 3.75rem;
  background: #f8f9fc;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.doctor__btn {
  margin-top: 2.5rem;
  padding-block: 0.75rem;
}

.reviews {
  padding: 3.75rem 0 2rem;
}

.reviews__subtitle {
  margin-top: 1.87rem;
  max-width: 60.4375rem;
}

.reviews__slider {
  margin-top: 3rem;
  position: relative;
}

.reviews__btn {
  margin-top: 3.25rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
}

.review {
  border-radius: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  padding: 1rem 1.5rem 2rem;
}

.review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.69rem;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.review__thumb {
  width: 3.9375rem;
  height: 3.9375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
}

.review__thumb img {
  border-radius: 50%;
}

.review__person {
  font-family: "Gilroy";
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__person-caption {
  color: #525252;
}

.review__person-name {
  margin-top: 0.25rem;
  color: #0739a6;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.review__company img {
  max-height: 2.5rem;
}

.review__rate {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  color: #ffca10;
  font-size: 1.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.review__quote {
  margin-top: 1.9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 10;
}

.review__more {
  color: #0739a6;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin-top: 1.5rem;
}

.review__footer {
  margin-top: 2.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0739a6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.review__email {
  font-size: 1.125rem;
}

.review__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.review__time::before {
  font-size: 1.5rem;
}

.callback {
  padding: 2.5rem 0;
}

.callback__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  border-radius: 1.25rem;
  background: #fff;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1.5rem;
}

.callback__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.callback__offer {
  max-width: 35.125rem;
}

.callback__desc {
  margin-top: 1.5rem;
}

.callback__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.callback__btn {
  gap: 0.62rem;
}

.callback__btn::before {
  font-size: 1.6rem;
}

.callback__btn.btn-primary {
  background: #145fff;
}

.callback__image {
  margin-bottom: -3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contacts {
  padding: 2.5rem 0 3.75rem;
}

.contacts__body {
  display: -ms-grid;
  display: grid;
  gap: 1.44rem;
  row-gap: 3rem;
}

.contacts__main {
  border-radius: 1.25rem;
  background: #fff;
  -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
          box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.02);
  padding: 2rem 1.5rem 2rem;
}

.contacts__list {
  margin-top: 1.5rem;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.525rem;
}

.contacts__item::before {
  width: 2.5625rem;
  height: 2.5625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0739a6;
}

.contacts__item.icon-phone {
  font-size: 1.25rem;
}

.contacts__item.icon-phone::before {
  font-size: 2rem;
}

.contacts__item.icon-clock {
  font-size: 1rem;
}

.contacts__item.icon-clock::before {
  font-size: 2rem;
}

.contacts__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.contacts__link {
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contacts__btn {
  margin-top: 1.69rem;
  min-width: 100%;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  min-height: 100%;
  border-radius: 1.25rem;
}

.contacts__image {
  position: absolute;
  display: block;
  top: -0.36rem;
  right: -0.6rem;
}

.contacts__image img {
  width: 7.5rem;
  height: 5rem;
  -webkit-box-shadow: 0 0 0 0.625rem #f8f9fc;
          box-shadow: 0 0 0 0.625rem #f8f9fc;
  border-radius: 0.65rem;
}

@media (min-width: 575.98px) {
  .fancybox__slide {
    padding: 1.25rem;
  }

  [class*=__container] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 33.75rem;
  }

  .swiper-button-prev {
    left: auto;
    right: calc(100% - 1.5rem);
  }

  .swiper-button-next {
    right: auto;
    left: calc(100% - 1.5rem);
  }

  .icon-menu span {
    padding: 0.28125rem 0rem;
  }

  .header.open-menu .icon-menu span:first-child {
    -webkit-transform: translateY(0.71875rem);
        -ms-transform: translateY(0.71875rem);
            transform: translateY(0.71875rem);
  }

  .header.open-menu .icon-menu span:nth-child(3) {
    -webkit-transform: translateY(-0.71875rem);
        -ms-transform: translateY(-0.71875rem);
            transform: translateY(-0.71875rem);
  }

  .footer__body {
    gap: 4rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__contacts {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }

  .promo__btn {
    margin-top: 3.25rem;
    min-width: 17.1875rem;
  }

  .directions__item-name {
    font-size: 1.75rem;
  }

  .directions__btn {
    min-width: 15.875rem;
  }

  .benefits {
    padding: 5.88rem 0 2.5rem;
  }

  .benefits__main {
    padding-bottom: 4rem;
  }

  .benefits__list {
    margin-top: 5.56rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits__text {
    font-size: 1.125rem;
    padding: 3.25rem;
  }

  .main-doctor__position {
    font-size: 1.5rem;
  }

  .main-doctor__title {
    font-size: 2.5rem;
  }

  .main-doctor__desc {
    font-size: 1.125rem;
  }

  .main-doctor__btn {
    min-width: 20rem;
  }

  .doctors {
    padding: 5.87rem 0;
  }

  .reviews {
    padding: 6.75rem 0 3rem;
  }

  .reviews__subtitle {
    font-size: 1.125rem;
  }

  .reviews__btn {
    min-width: 20rem;
  }

  .review {
    padding: 2.62rem 1.44rem 4.94rem 2.88rem;
  }

  .review__header {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .review__person-name {
    max-width: 12rem;
  }

  .review__company {
    margin-left: auto;
  }

  .review__rate {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .review__quote {
    -webkit-line-clamp: 4;
    font-size: 1.125rem;
  }

  .review__more {
    margin-top: 2rem;
    font-size: 1.125rem;
  }

  .review__footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .review__email {
    font-size: 1.5rem;
  }

  .review__time {
    font-size: 1.125rem;
  }

  .callback__banner {
    padding: 3.25rem 3.5rem;
  }

  .callback__desc {
    font-size: 1.125rem;
  }

  .contacts {
    padding: 2.5rem 0 5.75rem;
  }

  .contacts__main {
    padding: 3.69rem 3.81rem 4.65rem;
  }

  .contacts__item {
    font-size: 1.125rem;
  }

  .contacts__item.icon-phone {
    font-size: 1.5rem;
  }

  .contacts__btn {
    min-width: 20.25rem;
  }

  .contacts__image {
    top: -1.31rem;
    right: -1.37rem;
  }

  .contacts__image img {
    border-radius: 1.25rem;
    -webkit-box-shadow: 0 0 0 1.25rem #f8f9fc;
            box-shadow: 0 0 0 1.25rem #f8f9fc;
    width: 13.75rem;
    height: 10.375rem;
  }
}

@media (min-width: 767.98px) {
  .popup {
    padding: 1.875rem 2.5rem;
  }

  [class*=__container] {
    max-width: 45rem;
  }

  .title {
    font-size: 2.25rem;
  }

  .submenu__list {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }

  .promo__image img {
    border-radius: 1.25rem;
  }

  .promo__tagline {
    font-size: 1.125rem;
  }

  .promo__desc {
    font-size: 1.125rem;
    max-width: 27.4375rem;
  }

  .directions__list {
    margin-top: 3.81rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .main-doctor__body {
    border-radius: 3.125rem;
    gap: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .main-doctor__rate {
    right: 2rem;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .main-doctor__image {
    margin-bottom: -2.5rem;
    margin-top: -10.2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20rem;
            flex: 0 0 20rem;
  }

  .callback__banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .callback__image {
    width: 18rem;
    margin-right: -5.5rem;
    margin-top: -9rem;
  }
}

@media (min-width: 991.98px) {
  .btn.btn-lg {
    font-size: 1.25rem;
  }

  [class*=__container] {
    max-width: 60rem;
  }

  .header__top {
    padding: 2rem 0;
    border-bottom: 0.0625rem solid #dedede;
  }

  .search__form {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    cursor: pointer;
    padding: 1.94rem 2rem;
    background: #fff;
    cursor: default;
    -webkit-box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08), 0px 4px 6px -4px rgba(24, 39, 75, 0.12);
            box-shadow: 0px 8px 8px -4px rgba(24, 39, 75, 0.08), 0px 4px 6px -4px rgba(24, 39, 75, 0.12);
    -webkit-transform: translateY(-100%) translateX(-50%);
        -ms-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
  }

  .header.open-menu .menu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .menu {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    padding: 0;
    -webkit-transition: none;
    transition: none;
    overflow-x: visible;
    overflow-y: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 2rem 0;
  }

  .submenu {
    padding-top: 0.5rem;
    top: 100%;
    left: 50%;
    position: absolute;
    color: #2b2b2b;
    z-index: 11;
    width: calc(100vw - 0.5rem);
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    background: #fff;
    -webkit-box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.06);
            box-shadow: 0 0.25rem 2rem 0.1875rem rgba(7, 57, 166, 0.06);
    opacity: 0;
    visibility: hidden;
    will-change: transform;
    -webkit-transform: translate3d(-50%, -0.4375rem, 0);
            transform: translate3d(-50%, -0.4375rem, 0);
  }

  .submenu__list {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
  }

  .icon-menu {
    display: none;
  }

  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .promo__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .directions__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .main-doctor__body {
    padding: 5.19rem 4.94rem 2.5rem;
  }

  .main-doctor__image {
    margin-right: -4.94rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.125rem;
            flex: 0 0 29.125rem;
  }

  .callback__main {
    display: contents;
  }

  .contacts__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (any-hover: hover) and (min-width: 991.98px) {
  .menu__item.menu-parent:hover .submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@media (min-width: 991.98px) and (hover: none) {
  .submenu.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@media (min-width: 1279.98px) {
  [class*=__container] {
    max-width: 71.25rem;
  }

  .swiper-button-prev {
    right: calc(100% + 1.19rem);
  }

  .swiper-button-next {
    left: calc(100% + 1.19rem);
  }

  .header__contacts-phone {
    font-size: 1.375rem;
  }

  .header__contacts-worktime {
    font-size: 0.875rem;
  }

  .header__address {
    font-size: 1.125rem;
  }

  .header__socials {
    gap: 0.94rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header__socials-text {
    display: block;
    color: #2b2b2b;
    font-family: "Proxima";
    font-size: 1rem;
  }

  .menu__callback {
    margin-left: 5.69rem;
  }

  .footer__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__privacies {
    margin-right: -4rem;
  }

  .promo__body {
    gap: 4rem;
  }

  .promo__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 57.875%;
            flex: 0 0 57.875%;
  }

  .promo__offer {
    padding-top: 2.75rem;
  }

  .benefits__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1419.98px) {
  [class*=__container] {
    max-width: 80rem;
  }

  .submenu__list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }

  .main-doctor__rate {
    bottom: auto;
    right: auto;
    position: relative;
    margin-right: -3.2rem;
  }
}

@media (max-width: 991.98px) {
  body:has(.menu.active) {
    overflow: hidden;
  }

  .header__address {
    display: none;
  }

  .search__btn {
    display: none;
  }

  .submenu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: none;
  }

  .submenu.open {
    display: block;
  }

  .footer__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__privacies {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767.98px) {
  .header__logo span {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .doctors__prev {
    display: none;
  }

  .doctors__next {
    display: none;
  }

  .reviews__prev {
    display: none;
  }

  .reviews__next {
    display: none;
  }

  .callback__btn span {
    display: none;
  }
}

@media (any-hover: hover) {
  .popup__close:hover {
    color: #0739a6;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #052875;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }

  .form__social.icon-whatsapp:hover {
    background-color: #0a9132;
  }

  .form__social.icon-telegram:hover {
    background-color: #2786c1;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: #fff;
    color: #2b2b2b;
  }

  .header__contacts-phone:hover {
    color: #0739a6;
  }

  .header__address-link:hover {
    text-decoration: underline;
  }

  .header__socials-link:hover {
    background-color: rgb(234, 241, 255);
  }

  .header__eye:hover,
  .search__btn:hover {
    background-color: #f1f3f9;
  }

  .menu__item.menu-parent:hover {
    color: #0739a6;
  }

  .menu__item.menu-parent:hover .menu__arrow::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__link:hover {
    color: #0739a6;
  }

  .submenu__category-link:hover {
    text-decoration: underline;
  }

  .footer__menu-link:hover {
    opacity: 0.7;
  }

  .footer__privacies-link:hover {
    opacity: 0.7;
  }

  .footer__phone:hover {
    opacity: 0.7;
  }

  .directions__item-name:hover {
    color: #0739a6;
  }

  .doctor__image:hover img {
    -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
            transform: scale(1.025);
  }

  .doctor__name:hover {
    color: #0739a6;
  }

  .doctor__specialization-item:hover {
    background-color: #d4daed;
  }

  .review__person-name:hover {
    color: #031744;
  }

  .review__more:hover {
    color: #031744;
  }

  .contacts__link:hover {
    color: #0739a6;
  }
}